.contacts__map {
    width: 100%;
    background-color: #263d63;
    overflow: hidden;
    display: flex;
    justify-content: center;
    position: relative;
    align-items: center;
  }
  @supports (border-radius: clamp( 1rem , 0.5852534562rem  +  1.8433179724vw , 2rem )) {
    .contacts__map {
      border-radius: clamp( 1rem , 0.5852534562rem  +  1.8433179724vw , 2rem );
    }
  }
  @supports not (border-radius: clamp( 1rem , 0.5852534562rem  +  1.8433179724vw , 2rem )) {
    .contacts__map {
      border-radius: calc(
              1rem + 1 * (100vw - 22.5rem) / 54.25
          );
    }
  }
  @supports (height: clamp( 28.75rem , 21.25rem  +  33.3333333333vw , 41.25rem )) {
    .contacts__map {
      height: clamp( 28.75rem , 21.25rem  +  33.3333333333vw , 41.25rem );
    }
  }
  @supports not (height: clamp( 28.75rem , 21.25rem  +  33.3333333333vw , 41.25rem )) {
    .contacts__map {
      height: calc(
              28.75rem + 12.5 * (100vw - 22.5rem) / 37.5
          );
    }
  }
  @supports (margin-bottom: clamp( 0.5rem , 0.2926267281rem  +  0.9216589862vw , 1rem )) {
    .contacts__map {
      margin-bottom: clamp( 0.5rem , 0.2926267281rem  +  0.9216589862vw , 1rem );
    }
  }
  @supports not (margin-bottom: clamp( 0.5rem , 0.2926267281rem  +  0.9216589862vw , 1rem )) {
    .contacts__map {
      margin-bottom: calc(
              0.5rem + 0.5 * (100vw - 22.5rem) / 54.25
          );
    }
  }
  .contacts__map iframe {
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: 1;
  }
  .contacts__text {
    font-family: "Roboto Mono";
    line-height: 1.5;
  }
  @supports (font-size: clamp( 1.25rem , 1.1463133641rem  +  0.4608294931vw , 1.5rem )) {
    .contacts__text {
      font-size: clamp( 1.25rem , 1.1463133641rem  +  0.4608294931vw , 1.5rem );
    }
  }
  @supports not (font-size: clamp( 1.25rem , 1.1463133641rem  +  0.4608294931vw , 1.5rem )) {
    .contacts__text {
      font-size: calc(
              1.25rem + 0.25 * (100vw - 22.5rem) / 54.25
          );
    }
  }
  
  .contacts__text a {
    transition: 0.3s ease;
  }
  .contacts__text a:hover,
  .contacts__text a :focus {
    color: #5eecff;
  }
  



  